p{
    color:white;
    font-family:fantasy;
    position:relative;
    border: 5px solid white;
    width:10%;
    top: 260px;
}
h1{
    width: 20%;
    margin: auto;
    color:white;
    font-family:fantasy;
}
/* */
body {
    width: 100%;
    background: linear-gradient(-45deg, #000000, #560bb8, #167597, #16ace7);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
/* Linear Gradient Animation */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;    }
}
